DB_URL=jdbc:postgresql://localhost:5434/parkdb
DB_NAME=parkdb
DB_USERNAME=postgres
DB_PASSWORD=change_me
DDL_AUTO=update
SHOW_SQL=false
SQL_INIT_MODE=always

JWT_SECRET=replace_with_at_least_32_symbols_secret
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_MINUTES=10080

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_me_admin_password

SSL_ENABLED=false
SSL_KEY_STORE=classpath:keystore.p12
SSL_KEY_STORE_PASSWORD=change_me_keystore_password
SSL_KEY_STORE_TYPE=PKCS12
SSL_KEY_ALIAS=park-api
